html,
body {
  font-family: 'Roboto', sans-serif;
}

body.active {
  padding-right: 15px;
  position: fixed;
  width: 100vw;
}

img {
  width: 100%;
  height: auto;
}

.section {
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #E6EAFF;
}

.header {
  position: relative;
  margin-bottom: 15px;
  padding: 32px 0;
}

.header-menu {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu__button {
  margin-right: 32px;
  padding: 0;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-header {
  padding-top: 16px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(75, 76, 78, 0.1);
  overflow: auto;
  transition: left .3s ease;
  z-index: 1;
}

.menu-header.active {
  display: block;
  top: 0;
  left: 0;
  transition: left .3s ease;
  z-index: 2;
}

.menu-header__header-wrap {
  border-bottom: 1px solid #E6EAFF;
}

.menu-header__header {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-header__title {
  font-weight: 700;
  font-size: 20px;
  color: #0C0D0D;
}

.menu-header__close {
  background-color: transparent;
  border: none;
}

.header-menu__button:hover,
.header-menu__button:focus,
.menu-header__close:hover,
.menu-header__close:focus {
  outline: none;
}

.header-menu__icon {
  max-width: 32px;
}

.header-logo__icon {
  max-width: 210px;
}

.form-search__input {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  background: #E6EAFF;
  border-radius: 20px;
}

.search__button {
  margin-right: 10px;
  padding: 0;
  width: 24px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search__input {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.search__input::placeholder {
  color: #667EFF;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__list {
  margin: 0;
  padding-inline: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 55%;
  right: -15px;
  transform: translateY(-50%);
  width: 6px;
  height: 10px;
  line-height: 0;
  background: url(../img/Vector.svg) center / contain no-repeat;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #667EFF;
}

.breadcrumbs__link.active {
  color: #A4A5A8;
}

.main-slider__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: calc(28px + 8 * ((100vw - 360px) / (1920 - 360)));
  color: #0C0D0D;
}

.main-slider__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #A4A5A8;
}

.slider {
  margin-bottom: 65px;
}

.slider__item {
  line-height: 0;
  overflow: hidden;
  border-radius: calc(12px + 24 * ((100vw - 360px) / (1920 - 360)));
}

.title {
  margin-bottom: 10px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: calc(20px + 8 * ((100vw - 360px) / (1920 - 360)));
  color: #0C0D0D;
}

.main-subtitle {
  margin-top: 0;
  display: block;
  font-weight: 700;
  font-size: 16px;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #A4A5A8;
}

.menu {
  margin-bottom: 65px;
}

.main-menu__wrap {
  position: relative;
  max-height: 580px;
}

.main-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #F5F6FF;
}

.main-menu .simplebar-track {
  left: 24.5%;
}

.main-menu__nav {
  margin: 0;
  padding-inline: 0;
  max-height: 580px;
  list-style: none;
  overflow-x: hidden;
}

.simplebar-content-wrapper .main-menu__nav-list {
  list-style: none;
}

.main-menu__nav .main-menu__nav-item {
  position: absolute;
}

.main-menu__item-link {
  font-weight: 500;
  font-size: 14px;
  color: #0C0D0D;
  cursor: unset;
}

.main-menu__item-link:hover,
.main-menu__item-link:focus {
  color: #0C0D0D;
  text-decoration: none;
}

.main-menu__item-button {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 100%;
  border-bottom: 1px solid #CCD4FF;
  cursor: pointer;
}

.main-menu__item-text {
  margin-bottom: 0;
}

.main-menu__item-text.active,
.main-menu__item-link[aria-expanded="true"] .main-menu__item-text {
  color: #0029FF;
}

.main-menu__item-image {
  display: none;
}

.main-menu__item-counter {
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #BEBFC1;
}

.main-menu__subnav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  list-style: none;
}


.main-menu__subnav.active {
  display: block;
}

.subnav__list {
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.subnav__item {
  padding: 5px 0;
  line-height: 1.3;
}

.subnav__link {
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 360px) / (1920 - 360)));
  line-height: 1;
  color: #0C0D0D;
}

.subnav__link:hover,
.subnav__link:focus,
.subnav__link:active {
  color: #0029FF;
  text-decoration: none;
}

.menu-header__nav {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.menu-header__item {
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #E6EAFF;
}

.menu-header__item-link:hover {
  color: #0029FF;
  text-decoration: none;
}

.menu-header__item-link[aria-expanded="true"] .menu-header__item-image svg {
  transform: rotate(180deg);
}

.menu-header__item-link[aria-expanded="true"] .menu-header__item-image path {
  fill: #667EFF;
}

.menu-header__item-text {
  margin: 0;
}

.menu-header__item-image path {
  fill: #CCD4FF;
}

.menu-header__item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  color: #0C0D0D;
}

.menu-header__subnav {
  padding-inline: 15px;
  list-style: none;
}

.card {
  margin-bottom: 30px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(75, 76, 78, 0.1);
  border: none;
  border-radius: 15px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #0C0D0D;
}

.card__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.review {
  margin-bottom: 65px;
}

.review__row {
  margin-bottom: 20px;
}

.review__title {
  margin-bottom: 10px;
}

.review__subtitle {
  font-size: 14px;
  font-size: calc(12px + 2 * ((100vw - 360px) / (1920 - 360)));
}

.review-card {
  padding-top: calc(7px + 8 * ((100vw - 360px) / (1920 - 360)));
  padding-bottom: calc(7px + 8 * ((100vw - 360px) / (1920 - 360)));
  padding-left: calc(15px + 10 * ((100vw - 360px) / (1920 - 360)));
  padding-right: calc(15px + 10 * ((100vw - 360px) / (1920 - 360)));
}

.review-card__link:hover {
  text-decoration: none;
}

.review-card__subtitle {
  margin-bottom: 12px;
  display: block;
  font-size: 14px;
  color: #7E8083;
}

.rating {
  margin-bottom: 12px;
}

.rating__item {
  max-width: 110px;
}

.review-card__image {
  margin-bottom: 12px;
}

.review-card__text {
  font-weight: 500;
  font-size: 12px;
  color: #0C0D0D;
}

.button__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  margin-bottom: 50px;
  padding: 10px;
  min-width: 360px;
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #0029FF;
  text-align: center;
  background: #E6EAFF;
  border: none;
  border-radius: 20px;
}

.city {
  margin-bottom: 65px;
}

.city-list__wrap {
  margin-bottom: 50px;
  overflow-x: hidden;
}

.city-list__col {
  margin-bottom: 25px;
}

.city-list {
  margin-bottom: 8px;
  padding-inline: 0;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  color: #BEBFC1;
}

.city-sublist {
  margin-bottom: 8px;
  padding-inline: 0;
  list-style: none;
}

.city-sublist__link {
  font-weight: 500;
  font-size: 16px;
  color: #0C0D0D;
}

.categories {
  margin-bottom: 65px;
}

.categories__row {
  margin-bottom: 20px;
}

.categories__card {
  margin-bottom: 30px;
  padding: calc(15px + 9 * ((100vw - 360px) / (1920 - 360)));
}

.categories__title {
  margin-bottom: 24px;
}

.categories__image {
  margin-bottom: 30px;
}

.categories-list__links {
  margin-bottom: 0;
  padding-inline: 0;
  list-style: none;
}

.categories-lisr__item:not(:last-child) {
  margin-bottom: 8px;
}

.categories-list__link {
  margin: 0;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #0C0D0D;
}

.categories-list__link:hover {
  text-decoration: none;
}

.categories-list__link-more {
  position: relative;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #99A9FF;
}

.categories-list__link-more::before {
  content: "";
  position: absolute;
  top: 55%;
  right: -15px;
  transform: translateY(-50%);
  width: 6px;
  height: 10px;
  line-height: 0;
  background: url(../img/shevron.png) center / contain no-repeat;
}

.shop-catalogue {
  margin-bottom: 40px;
}

.shop-catalogue__row {
  margin-bottom: 20px;
}

.card__col {
  margin-bottom: 30px;
  height: auto;
}

.shop-catalogue__card-link {
  padding: calc(15px + 9 * ((100vw - 360px) / (1920 - 360)));
}

.shop-catalogue__card-link:hover {
  text-decoration: none;
}

.shop-catalogue__subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #7E8083;
}

.footer-top {
  margin-bottom: 25px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: linear-gradient(90deg, #001066 0%, #0029FF 100%);
}

.footer-top__logo {
  margin-bottom: 25px;
  max-width: 200px;
}

.footer-top__links {
  margin: 0;
  padding-inline: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
}

.footer-links__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-item__link {
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 360px) / (1920 - 360)));
  color: #FEFEFE;
}

.footer-item__link:hover {
  text-decoration: none;
  color: #FEFEFE;
}

.footer-bottom__copyright {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #0C0D0D;
}

.footer-bottom__text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 12px;
  color: #0C0D0D;
}

.footer-bottom__link {
  color: #0029FF;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 4px;
}

.simplebar-vertical {
  background-color: #E6EAFF;
}

.simplebar-scrollbar::before {
  content: "";
  min-width: 4px;
  left: 0;
  right: 0;
  background-color: #CCD4FF;
  border-radius: 5px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.slider__row {
  padding-top: 15px;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {

  .card__col {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .subnav__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .subnav__list {
    grid-template-columns: 1fr;
  }

  .main-menu .simplebar-track {
    left: 49.5%;
  }
}

@media screen and (max-width: 768px) {
  .main-menu {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-menu__wrap {
    position: initial;
    max-height: initial;
  }

  .main-menu__nav {
    max-height: initial;
  }

  .main-menu__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-menu__item-button {
    padding-right: 15px;
    border-bottom: none;
  }

  .main-menu__item-image,
  .main-menu__item-counter {
    display: initial;
  }

  .main-menu__item-image path {
    fill: #CCD4FF;
  }

  .main-menu__item-link[aria-expanded="true"] .main-menu__item-image svg {
    transform: rotate(180deg);
  }

  .main-menu__item-link[aria-expanded="true"] .main-menu__item-image path {
    fill: #667EFF;
  }

  .main-menu__subnav {
    position: initial;
    display: block;
  }

  .subnav__list {
    display: block;
    padding-inline-start: 15px;
  }

  .card__col {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 576px) {
  .header-menu {
    margin-bottom: 25px;
  }

  .breadcrumbs {
    display: none;
  }

  .slider {
    margin-bottom: 32px;
  }

  .main-slider__title,
  .main-title {
    margin-bottom: 8px;
  }

  .menu {
    margin-bottom: 32px;
  }


  .city-list__wrap {
    max-height: 195px;
  }

  .card__title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .review-card__text {
    display: none;
  }

  .main-button {
    min-width: 315px;
  }

  .footer-top {
    padding: 24px 0;
  }

  .break {
    display: none;
  }
}